.alert_bl{
	text-align: center;
	position: fixed;
	width: 100%;
	top: 2rem;
	z-index: 10;
}
.alert_bl span{
	background: #000000;
	display: inline-block;
	opacity:0.5;
	color: #fff;
	font-size: 0.12rem;
	border-radius: 0.1rem;
	padding: 0.1rem 0.2rem;
}
.bg_cb{
	background: #cb2920;
}
.bg_24{
	background: #24d124;
}
.bg_ff {
	background: #ffffff;
}

.bg_31 {
	background: #3199e4;
}
.bg_39{
	background: #393737;
}
.no_wb {
	padding-left: 0;
	padding-right: 0;
}

.one_header {
	text-align: center;
}

.header_title {
	color: #000005;
	font-size: 0.16rem;
	line-height: 0.44rem;
}

.header_table {
	color: #313236;
	font-size: 0.12rem;
}

.header_price {
	font-size: 0.29rem;
	color: #000005;
	line-height: 0.5rem;
}

.one_body {
	border-bottom: 1px solid #eeeeee;
	font-size: 0.13rem;
	color: #444444;
	line-height: 0.5rem;
}

.body_name {
	color: #666666;
	font-size: 0.12rem;
	line-height: 0.3rem;
}

.body_num {
	color: #666666;
	font-size: 0.12rem;
	line-height: 0.3rem;
}

.body_price {
	color: #666666;
	font-size: 0.12rem;
	line-height: 0.3rem;
}

.nav_bot {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	line-height: 0.3rem;
}

.nav_al {
	font-size: 0.1rem;
	background: #fff7d3;
	color: #afa17a;
}

.al_img {
	width: 0.12rem;
}

.nav_btn {
	color: #ffffff;
	line-height: 0.48rem;
}